*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Georgia';
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/* --------------------------------------------------- */
body {
    background-color: #000000;
}
.container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    padding: 0 100px;
    background-color: #6e6d6d;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content:right; 
}
html {
    scroll-behavior: smooth; 
}
.nav-link {
    padding: 0 10px;
    line-height: 50px;
    font-size: 20px;
    color: rgb(51, 3, 30);
}
.nav-link {
    transition: .3s;
}
main {
    flex-grow: 1;
    padding: 25px 60px;
    background-color: #ffffff;
}
.pictures{
    height: 400px;
    margin-bottom: 20px;
    padding-top: 150px;
}
.square {
    width: 415px;
    height: 415px;
    background: url('../assets/img/fonjpg.jpg') center / contain no-repeat;
}
.photo {
    width: 410px;
    margin: -550px 0 0 auto;
}
main img{
    height: 410px;
}
h1{
    font-size: 33px;
    margin-left: 25px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #32082a;
}
.name p{
    text-align: right;
    margin-left: 65px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
}
.about_me p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 5px;
}
.about_me span{
    font-style: italic;
    font-weight: bolder;
}
h2{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #32082a;
    font-weight: 550;
}
ul, ol{
    margin-top: 10px;
    font-size: 20px;
}
ul span{
    font-style: italic;
    font-weight: 600;
}
.courses{
    list-style: circle;
    margin-left: 30px;
}
ol{
    margin-left: 24px;
}
.tech_skills p {
    text-align: right;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 600;
}
a{
    float: right;
    font-size: 15px;
    color: #32082a;
}
code {
    display: block;
    text-align: right;
    font-size: 15px;
    font-weight: 650;
    color: rgb(52, 17, 49);
}
.interests p {
    margin-top: 10px;
    font-size: 20px;
}
.interests p span{
    font-size: 30px;
    font-weight: bold;
}
.info{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
}
.info span{
    font-size: 20px;
    font-weight: 600;
}
